.DISCLAIMERS {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 1382px;
  z-index: 7;
}
.Shape_11 {
  background-color: rgb(204, 204, 204);
  position: absolute;
  left: 686px;
  top: 583px;
  width: 1px;
  height: 25px;
  z-index: 6;
}
.returns {
  font-size: 20px;
  font-family: "Helvetica";
  color: rgb(102, 102, 102);
  line-height: 0.9;
  position: absolute;
  left: 611px;
  top: 601.827px;
  width: 58px;
  height: 13px;
  z-index: 5;
}
.This_item_must_be_returned_within_30_days_of_th {
  font-size: 10px;
  font-family: "Helvetica";
  color: rgb(102, 102, 102);
  line-height: 1.4;
  position: absolute;
  left: 702px;
  top: 597.414px;
  width: 385px;
  height: 23px;
  z-index: 4;
}
