/*******************************************************************************
 * Colors
 ******************************************************************************/
$gray-darkest: #333;
$gray-dark: #666;
$gray-medium: #888;
$gray-light: #d6d6d6;
$gray-lightest: #f7f7f7;
$red: #c00;
$red-dark: #ac0000;
$white: #fff;
$black: #000;
$orange: #e86900;
$orange-dark: #b85300;
$green: #00a200;
$green-dark: #008300;
