/*******************************************************************************
 * Padding
 ******************************************************************************/
$padding-base-vertical:     9px !default;
$padding-base-horizontal:   14px !default;

$padding-large-vertical:    12px !default;
$padding-large-horizontal:  20px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

/*******************************************************************************
* Dimensions
******************************************************************************/
$border-radius-base:        4px !default;
$border-radius-large:       5px !default;
$border-radius-small:       3px !default;

/*******************************************************************************
* Margin
******************************************************************************/
$margin-standard-vertical: 15px;
$margin-small-vertical: 10px;
$margin-xs-vertical: 5px;
