:global{
  .btn {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
  margin-right: 10px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 9px 14px;
  font-size: 15px;
  line-height: 1.4286;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.btn:last-child {
  margin-right: 0
}

.btn:focus,.btn.is-focus,.btn:active:focus,.btn:active.is-focus {
  outline: none
}

.btn:focus,.btn.is-focus {
  outline: #666 dashed 1px;
  outline-offset: 2px;
  -moz-outline-radius: 4px;
  text-decoration: underline
}

.btn:hover {
  color: inherit;
  text-decoration: none
}

.btn:active {
  background-image: none
}

.btn.is-disabled,.btn[disabled],fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #d6d6d6;
  color: #333;
  border-color: #d6d6d6;
  box-shadow: none
}

.btn img {
  display: inline-block;
  vertical-align: middle
}

.btn-white {
  background: #fff
}

.btn-white:hover {
  background: #f7f7f7
}

.btn-white:active {
  color: #fff;
  background: #333
}

.btn-white:focus {
  color: #333
}

.btn-darkRed {
  background: #ac0000;
  color: #fff
}

.btn-darkRed:hover {
  background: #790000;
  color: #fff
}

.btn-darkRed:active {
  background: #333
}

.btn-darkRed:focus {
  color: #fff
}

.btn-darkGray {
  background: #333;
  color: #fff
}

.btn-darkGray:hover {
  background: #000;
  color: #fff
}

.btn-darkGray:active {
  background: #fff;
  color: #333
}

.btn-darkGray:focus {
  color: #fff
}

.btn-lg {
  padding: 12px 20px;
  font-size: 18px;
  line-height: 1.3333;
  border-radius: 5px
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  margin-bottom: .5rem
}

.btn-block {
  display: block;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  width: 100%
}

.btn-block+.btn-block {
  margin-top: 15px
}

input[type='submit'].btn-block,input[type='reset'].btn-block,input[type='button'].btn-block {
  width: 100%
}

.btn-long {
  padding: 12px 7px
}

.btn-secondary,.btn-default {
  color: #333;
  background-color: #fff;
  border: #888 1px solid
}

.btn-secondary:hover,.btn-default:hover {
  color: #333;
  background-color: #f4f4f4;
  border-color: #888
}

.btn-secondary:active,.btn-default:active {
  color: #fff;
  background-color: #333;
  border-color: #333
}

.btn-secondary:focus,.btn-default:focus {
  color: #333
}

.btn-secondary.is-disabled,.btn-secondary.is-disabled:hover,.btn-secondary.is-disabled:focus,.btn-secondary.is-disabled.focus,.btn-secondary.is-disabled:active,.btn-secondary.is-disabled.active,.btn-secondary[disabled],.btn-secondary[disabled]:hover,.btn-secondary[disabled]:focus,.btn-secondary[disabled].focus,.btn-secondary[disabled]:active,.btn-secondary[disabled].active,fieldset[disabled] .btn-secondary,fieldset[disabled] .btn-secondary:hover,fieldset[disabled] .btn-secondary:focus,fieldset[disabled] .btn-secondary.focus,fieldset[disabled] .btn-secondary:active,fieldset[disabled] .btn-secondary.active,.btn-default.is-disabled,.btn-default.is-disabled:hover,.btn-default.is-disabled:focus,.btn-default.is-disabled.focus,.btn-default.is-disabled:active,.btn-default.is-disabled.active,.btn-default[disabled],.btn-default[disabled]:hover,.btn-default[disabled]:focus,.btn-default[disabled].focus,.btn-default[disabled]:active,.btn-default[disabled].active,fieldset[disabled] .btn-default,fieldset[disabled] .btn-default:hover,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default.focus,fieldset[disabled] .btn-default:active,fieldset[disabled] .btn-default.active {
  background-color: #d6d6d6;
  color: #333;
  border-color: #d6d6d6
}

.btn-primary {
  color: #fff;
  background-color: #c00;
  border: 1px #c00 solid
}

.btn-primary:hover {
  color: #fff;
  background-color: #ac0000;
  border-color: #ac0000
}

.btn-primary:active {
  color: #fff;
  background-color: #750000;
  border-color: #750000
}

.btn-primary:focus {
  color: #fff
}

.btn-primary.is-disabled,.btn-primary.is-disabled:hover,.btn-primary.is-disabled:focus,.btn-primary.is-disabled.focus,.btn-primary.is-disabled:active,.btn-primary.is-disabled.active,.btn-primary[disabled],.btn-primary[disabled]:hover,.btn-primary[disabled]:focus,.btn-primary[disabled].focus,.btn-primary[disabled]:active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary:hover,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary.focus,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary.active {
  background-color: #d6d6d6;
  color: #333;
  border-color: #d6d6d6
}

.btn-express {
  color: #c00;
  background-color: #fff;
  border-color: #c00
}

.btn-express:hover {
  color: #c00;
  background-color: #fbf0f0;
  border-color: #c00
}

.btn-express:active {
  color: #fff;
  background-color: #750000;
  border-color: #750000
}

.btn-express:focus {
  color: #c00
}

.btn-express.is-disabled,.btn-express.is-disabled:hover,.btn-express.is-disabled:focus,.btn-express.is-disabled.focus,.btn-express.is-disabled:active,.btn-express.is-disabled.active,.btn-express[disabled],.btn-express[disabled]:hover,.btn-express[disabled]:focus,.btn-express[disabled].focus,.btn-express[disabled]:active,.btn-express[disabled].active,fieldset[disabled] .btn-express,fieldset[disabled] .btn-express:hover,fieldset[disabled] .btn-express:focus,fieldset[disabled] .btn-express.focus,fieldset[disabled] .btn-express:active,fieldset[disabled] .btn-express.active {
  background-color: #d6d6d6;
  color: #333;
  border-color: #d6d6d6
}

.btn-link {
  color: #666;
  font-weight: normal;
  border-radius: 0
}

.btn-link:focus {
  outline: #666 dashed 1px;
  outline-offset: 2px;
  -moz-outline-radius: 4px;
  text-decoration: underline
}

.btn-link,.btn-link:active,.btn-link[disabled],fieldset[disabled] .btn-link {
  background-color: transparent;
  box-shadow: none
}

.btn-link[disabled]:hover,.btn-link[disabled]:focus,fieldset[disabled] .btn-link:hover,fieldset[disabled] .btn-link:focus {
  color: #d6d6d6;
  text-decoration: none
}

}
